<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7d6578">  <td>19/07/13 14:21:05</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;ECommerceBammsTestPageMainTest.AfterTestLogin()[pri:0, instance:testproject.ECommerceBammsTestPageMainTest@ae45eb6]">&lt;&lt;AfterTestLogin</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>19/07/13 14:20:43</td>   <td>-21988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ECommerceBammsTestPageMainTest.accessCartPage()[pri:0, instance:testproject.ECommerceBammsTestPageMainTest@ae45eb6]">accessCartPage</td> 
  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>19/07/13 14:20:40</td>   <td>-24520</td> <td>&nbsp;</td><td title="&gt;&gt;ECommerceBammsTestPageMainTest.setUpTest()[pri:0, instance:testproject.ECommerceBammsTestPageMainTest@ae45eb6]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
</table>
